

</div><h1>List of Books <h1>
    <div id="books-index">
    <div class="row">
        <div class="col-md-3 col-sm-3">
            <h1>First Book</h1>
            <%= image_tag('Ruby_on_Rails.svg.png')%>
            <%= link_to 'Read more', book_path(1), class: 'btn btn-primary'%>

        </div>

    </div>

  </div>