
<div id="books-index">
	<% @books.each_slice(3) do |x| %>
		<div class="row">
			<% x.each do |x| %>
				<div class="col-md-3 col-sm-3">
				<h3><%= x.title %></h3>
				<%= image_tag(x.coverpath) %>
				<%= link_to 'Read More', book_path(x), class:'btn btn-primary' %>
				</div>
			<% end %>
		</div>
	<% end %>
</div>
